In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("gronagarden_data.csv")

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2399 entries, 0 to 2398
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   order_id                2399 non-null   object
 1   orderrad_id             2399 non-null   object
 2   orderdatum              2399 non-null   object
 3   önskat_leveransdatum    2223 non-null   object
 4   faktiskt_leveransdatum  2399 non-null   object
 5   produkt_id              2399 non-null   object
 6   produktnamn             2399 non-null   object
 7   kategori                2399 non-null   object
 8   säsong                  2308 non-null   object
 9   antal                   2399 non-null   object
 10  pris                    2399 non-null   object
 11  vikt_gram               2399 non-null   object
 12  leveranszon             2243 non-null   object
 13  kund_id                 2399 non-null   object
 14  recension_text          1038 non-null   object
 15  recensionsdatum         1038 non-null   object
 16  betyg                   1038 non-null   float64
dtypes: float64(1), object(16)
memory usage: 318.7+ KB

In [3]:
df.isna().sum()

order_id                     0
orderrad_id                  0
orderdatum                   0
önskat_leveransdatum       176
faktiskt_leveransdatum       0
produkt_id                   0
produktnamn                  0
kategori                     0
säsong                      91
antal                        0
pris                         0
vikt_gram                    0
leveranszon                156
kund_id                      0
recension_text            1361
recensionsdatum           1361
betyg                     1361
dtype: int64

In [4]:
df.nunique()

order_id                  1076
orderrad_id               2399
orderdatum                 365
önskat_leveransdatum       358
faktiskt_leveransdatum     381
produkt_id                  25
produktnamn                136
kategori                     6
säsong                      20
antal                       20
pris                        53
vikt_gram                   72
leveranszon                 29
kund_id                    588
recension_text              69
recensionsdatum            303
betyg                        5
dtype: int64

In [5]:
df.duplicated().sum()

0

In [6]:
df.shape

(2399, 17)

In [7]:
df.head(10)

,order_id,orderrad_id,orderdatum,önskat_leveransdatum,faktiskt_leveransdatum,produkt_id,produktnamn,kategori,säsong,antal,pris,vikt_gram,leveranszon,kund_id,recension_text,recensionsdatum,betyg
0,GG-2024-00001,GG-2024-00001-1,2024-01-01,2024-01-05,2024-01-05,PLT-INO-003,Gullranka ampel,Inomhusväxter,Alla,2,129.0,500,Zon 3,KUND-10912,"Varken bra eller dåligt, gör jobbet.",2024-01-10,3.0
1,GG-2024-00002,GG-2024-00002-1,2024-01-07,2024-01-12,2024-01-12,FRO-TOM-001,Tomatfrön 'Tiny Tim',Frön,Tidig vår,3,49.0,5,Zon 3,KUND-14597,Paketet såg ut att ha kastats från lastbilen.,2024-01-19,2.0
2,GG-2024-00002,GG-2024-00002-2,2024-01-07,2024-01-12,2024-01-12,PLT-INO-001,Monstera deliciosa,Inomhusväxter,Alla,3,299.0,2000 gram,Zon 3,KUND-14597,"Helt okej, men hittade billigare i lokal butik.",2024-02-11,3.0
3,GG-2024-00002,GG-2024-00002-3,7 januari 2024,2024-01-12,2024-01-12,JOR-NAR-001,Näring 1L,Jord & näring,Alla,2 st,99.0,1100,Zon 3,KUND-14597,NaN,NaN,NaN
4,GG-2024-00003,GG-2024-00003-1,2024-01-04,2024-01-13,2024-01-03,FRO-ORT-001,Örter mix,Frön,Vår,2,59.0,15,Zon 5,KUND-14392,"Min monstera är fantastisk, så stor och fin!",2024-01-25,4.0
5,GG-2024-00003,GG-2024-00003-2,2024-01-04,13/01/2024,2024-01-13,PLT-INO-003,Gullranka ampel,Inomhusväxter,Alla,1,129.0,500,Zon 5,KUND-14392,Bästa fröerna jag testat. Hög grobarhet.,2024-01-30,5.0
6,GG-2024-00004,GG-2024-00004-1,2024-01-22,NaN,2024-01-24,JOR-NAR-001,Flytande näring 1L,Jord & näring,NaN,2,99.0,1100,Zon 1,KUND-10912,NaN,NaN,NaN
7,GG-2024-00004,GG-2024-00004-2,2024-01-22,2024-01-24,2024-01-24,VER-VAN-001,Vattenkanna,Verktyg & tillbehör,Alla,1,179.0,600,Zon 1,KUND-10912,NaN,NaN,NaN
8,GG-2024-00004,GG-2024-00004-3,2024-01-22,NaN,2024-01-24,JOR-PLA-001,Blomjord 50L,Jord & näring,Vår,1,149.0,25000,Z1,KUND-10912,"Plantorna var i perfekt skick, rekommenderas v...",2024-01-28,5.0
9,GG-2024-00004,GG-2024-00004-4,2024-01-22,2024-01-24,2024-01-24,VER-VAN-001,Vattenkanna 10L,Verktyg & tillbehör,Alla,2,179.0,600,Zon 1,KUND-10912,Kommer definitivt beställa igen nästa säsong.,2024-02-14,5.0

In [8]:
print(pd.__version__)

2.3.3

In [9]:
df["orderdatum"].value_counts()

orderdatum
2024-05-06     39
2024-04-11     34
2024-05-10     33
2024-05-22     31
2024-05-07     29
               ..
2024-09-24      1
2024/09/11      1
2024-09-06      1
25 maj 2024     1
2024-01-01      1
Name: count, Length: 365, dtype: int64

In [10]:
df["orderdatum_clean"] = pd.to_datetime(
    df["orderdatum"], 
    errors="coerce",
    format="mixed",
    dayfirst=True
)

print(df[["orderdatum", "orderdatum_clean"]].value_counts())
print(f"Datatyp efter: {df['orderdatum_clean'].dtype}")
print(f"Antal datum som blev (NaT): {df['orderdatum_clean'].isna().sum()}")

orderdatum          orderdatum_clean
2024-05-06          2024-05-06          39
2024-04-11          2024-04-11          34
2024-05-10          2024-05-10          33
2024-05-22          2024-05-22          31
2024-05-07          2024-05-07          29
                                        ..
20/06/2024          2024-06-20           1
2024-01-01          2024-01-01           1
2024-01-03          2024-01-03           1
2024-01-20          2024-01-20           1
September 10, 2024  2024-09-10           1
Name: count, Length: 352, dtype: int64
Datatyp efter: datetime64[ns]
Antal datum som blev (NaT): 14

In [11]:
df["önskat_leveransdatum"].value_counts()

önskat_leveransdatum
2024-05-29      40
2024-05-09      37
2024-05-10      36
2024-05-12      32
2024-04-16      30
                ..
26/05/2024       1
May 19, 2024     1
8 maj 2024       1
2024/05/11       1
01/07/2024       1
Name: count, Length: 358, dtype: int64

In [12]:
df["wanted_leveransdatum_clean"] = pd.to_datetime(
    df["önskat_leveransdatum"], 
    errors="coerce",
    format="mixed",
    dayfirst=True
)

print(df[["önskat_leveransdatum", "wanted_leveransdatum_clean"]].value_counts())
print(f"Datatyp efter: {df['wanted_leveransdatum_clean'].dtype}")
print(f"Antal datum som blev (NaT): {df['wanted_leveransdatum_clean'].isna().sum()}")

önskat_leveransdatum  wanted_leveransdatum_clean
2024-05-29            2024-05-29                    40
2024-05-09            2024-05-09                    37
2024-05-10            2024-05-10                    36
2024-05-12            2024-05-12                    32
2024-04-16            2024-04-16                    30
                                                    ..
2024-07-07            2024-07-07                     1
2024-07-04            2024-07-04                     1
2024-06-16            2024-06-16                     1
2024-06-14            2024-06-14                     1
September 14, 2024    2024-09-14                     1
Name: count, Length: 345, dtype: int64
Datatyp efter: datetime64[ns]
Antal datum som blev (NaT): 189

In [13]:
df["faktiskt_leveransdatum"].value_counts()

faktiskt_leveransdatum
2024-05-29            37
2024-05-12            34
2024-04-23            32
2024-04-16            30
2024-05-19            29
                      ..
September 15, 2024     1
2024/05/18             1
2024-10-06             1
2024/05/13             1
2024-01-05             1
Name: count, Length: 381, dtype: int64

In [14]:
df["faktiskt_leveransdatum_clean"] = pd.to_datetime(
    df["faktiskt_leveransdatum"], 
    errors="coerce",
    format="mixed",
    dayfirst=True
)

print(df[["faktiskt_leveransdatum", "faktiskt_leveransdatum_clean"]].value_counts())
print(f"Datatyp efter: {df['faktiskt_leveransdatum_clean'].dtype}")
print(f"Antal datum som blev (NaT): {df['faktiskt_leveransdatum_clean'].isna().sum()}")

faktiskt_leveransdatum  faktiskt_leveransdatum_clean
2024-05-29              2024-05-29                      37
2024-05-12              2024-05-12                      34
2024-04-23              2024-04-23                      32
2024-04-16              2024-04-16                      30
2024-05-10              2024-05-10                      29
                                                        ..
2024-03-01              2024-03-01                       1
2024-06-09              2024-06-09                       1
2024-06-10              2024-06-10                       1
2024-06-11              2024-06-11                       1
September 29, 2024      2024-09-29                       1
Name: count, Length: 369, dtype: int64
Datatyp efter: datetime64[ns]
Antal datum som blev (NaT): 12

In [15]:
df["recensionsdatum_clean"] = pd.to_datetime(df["recensionsdatum"], errors="coerce")
print(df["recensionsdatum"].value_counts())
print(f"Datatyp efter: {df['recensionsdatum_clean'].dtype}")
print(f"Antal datum som blev (NaT): {df['recensionsdatum_clean'].isna().sum()}")

recensionsdatum
2024-05-24    13
2024-06-02    12
2024-06-04    12
2024-06-17    11
2024-05-09    11
              ..
2024-08-01     1
2024-08-05     1
2024-06-23     1
2024-07-10     1
2025-01-28     1
Name: count, Length: 303, dtype: int64
Datatyp efter: datetime64[ns]
Antal datum som blev (NaT): 1361

In [16]:
df["produktnamn"].value_counts()

produktnamn
Vattenkanna 10L           135
Planteringsjord 50L       122
Plastlåda balkong 60cm    105
Tomatfrön 'Biff'          104
Gurkfrön 'Marketmore'     104
                         ...
Körsbärstomat Tiny Tim      1
Persilja i kruuka           1
GURKFRÖN                    1
Tomat Tiny Tim              1
terrakottakruka 15cm        1
Name: count, Length: 136, dtype: int64

In [17]:
df["produktnamn_clean"] = df["produktnamn"].astype('string').str.strip().str.lower()
print(df["produktnamn_clean"].value_counts())

produktnamn_clean
vattenkanna 10l           140
planteringsjord 50l       126
fredskalla                107
plastlåda balkong 60cm    105
terrakottakruka 25cm      104
                         ...
basilika                    1
tomat tiny tim              1
sommar blommor mix          1
bifftomat frön              1
persilja i kruuka           1
Name: count, Length: 107, dtype: Int64

In [18]:
clean_mapping = {
    "terrakottakruka 25cm": "terrakottakruka",
    "terrakottakruka 15cm": "terrakottakruka",
    "tomatfrön 'biff'": "tomatfrön",
    "tommatfrön biff": "tomatfrön",
    "tomatfrön 'tiny tim'": "tomatfrön",
    "tommat tiny tim": "tomatfrön",
    "tomatplanta 'biff'": "tomatplanta",
    "tomatplanta 'tiny tim'": "tomatplanta",
    "örter mix (basilika, persilja, dill)": "örtfrön mix",
    "planteringsjord 25l": "planteringsjord",
    "planteringsjord 50l": "planteringsjord",
    "trädgårdspade": "trädgårdsspade",
    "flytande näring 1l": "flytande näring",
    "spade": "trädgårdsspade",
    "plastlåda balkong 60cm": "balkonglåda plast",
    "plastlåda 60cm": "balkonglåda plast",
    "gullranka ampel": "gullranka",
    "tomat tinytim": "tomatfrön",
    "terrakotta 25cm": "terrakottakruka",
    "sallads frön": "salladsfrön mix",
    "sallat mix": "salladsfrön mix",
    "biffftomat": "tomatfrön",
    "planteringsjord 50 liter": "planteringsjord",
    "sallatsfrön mix": "salladsfrön mix",
    "tomat-biff frön": "tomatfrön",
    "tomatffrön tiny tim": "tomatfrön",
    "petunia-mix": "petunia mix",
    "pettunia mix": "petunia mix",
    "röd pelargonner": "pelargon röd",
    "pelargoner röd": "pelargon röd",
    "örter mix": "örtfrön mix"
}

df["produktnamn_clean"] = df["produktnamn_clean"].replace(clean_mapping)
df["produktnamn_clean"].value_counts()

produktnamn_clean
planteringsjord      236
tomatfrön            207
terrakottakruka      194
vattenkanna 10l      140
örtfrön mix          116
                    ...
tulpan 20-pack         1
monstera               1
narciss lökar          1
narcisser 15st         1
persilja i kruuka      1
Name: count, Length: 88, dtype: Int64

In [19]:
df["kategori"].value_counts()

kategori
Frön                   757
Färdiga plantor        436
Krukor & kärl          336
Jord & näring          321
Inomhusväxter          305
Verktyg & tillbehör    244
Name: count, dtype: int64

In [20]:
df["säsong"].value_counts()

säsong
Vår             1056
Alla             882
Tidig vår        213
Höst              79
April-Maj          9
alla               8
Året runt          8
ALLA               6
All year           6
VÅR                6
V2024              5
Hela året          5
Q2                 5
vår                5
Spring             5
Förodling          4
TIDIG VÅR          2
tidig vår          2
Early Spring       1
höst               1
Name: count, dtype: int64

In [21]:
df["season_clean"] = df["säsong"].astype('string').str.strip().str.lower()
print(df["season_clean"].value_counts())

season_clean
vår             1067
alla             896
tidig vår        217
höst              80
april-maj          9
året runt          8
all year           6
v2024              5
hela året          5
q2                 5
spring             5
förodling          4
early spring       1
Name: count, dtype: Int64

In [22]:
clean_mapping = {
    "tidig vår": "vår",
    "early spring": "vår",
    "q2": "vår"
}

df["season_clean"] = df["season_clean"].replace(clean_mapping)
df["season_clean"].value_counts()

season_clean
vår          1290
alla          896
höst           80
april-maj       9
året runt       8
all year        6
v2024           5
hela året       5
spring          5
förodling       4
Name: count, dtype: Int64

In [23]:
df["antal"].value_counts()

antal
1       1202
2        557
3        343
4        169
5         73
en         8
"1"        8
1st        7
1 st       7
3st        5
tre        5
2 st       4
"2"        3
två        2
fem        1
3 st       1
4st        1
2st        1
5 st       1
"3"        1
Name: count, dtype: int64

In [24]:
df["antal_clean"] = (
    df["antal"].astype("string")
    .str.replace("st", "", regex=False)
    .str.replace('""', "", regex=False)
    .str.strip()
)

df["antal_clean"] = pd.to_numeric(df["antal_clean"], errors="coerce")
df["antal_clean"].value_counts(dropna=False).head(30)

antal_clean
1       1216
2        562
3        349
4        170
5         74
<NA>      28
Name: count, dtype: Int64

In [25]:
df["pris"].value_counts()

pris
149.0      360
129.0      244
59.0       203
69.0       183
45.0       172
89.0       165
49.0       158
79.0       152
179.0      141
39.0       115
55.0       111
299.0      101
199.0       92
99.0        65
159.0       37
0           35
SEK 89       4
149,00       3
69,00        3
179 kr       3
69 kr        3
49:-         3
SEK 199      3
45,00        3
149 kr       2
SEK 59       2
299:-        2
SEK 55       2
69:-         2
49 kr        2
59,00        2
129:-        2
89 kr        2
39,00        2
59:-         2
45 kr        1
299 kr       1
159 kr       1
199:-        1
SEK 49       1
45:-         1
55 kr        1
299,00       1
149:-        1
49,00        1
79,00        1
179:-        1
55:-         1
SEK 39       1
79 kr        1
SEK 45       1
59 kr        1
199 kr       1
Name: count, dtype: int64

In [26]:
df["pris_clean"] = (
    df["pris"].astype("string")
    .str.replace("SEK", "", regex=False)
    .str.replace("kr", "", regex=False)
    .str.replace(",", "", regex=False)
    .str.replace(":-", "", regex=False)
    .str.strip()
)

df["pris_clean"] = pd.to_numeric(df["pris_clean"], errors="coerce")
df["pris_clean"].value_counts(dropna=False).head(30)

pris_clean
149.0      363
129.0      246
59.0       208
69.0       188
45.0       175
89.0       171
49.0       164
79.0       153
179.0      145
39.0       116
55.0       115
299.0      104
199.0       97
99.0        65
159.0       38
0.0         35
6900.0       3
4500.0       3
14900.0      3
3900.0       2
5900.0       2
7900.0       1
4900.0       1
29900.0      1
Name: count, dtype: Int64

In [27]:
df["vikt_gram"].value_counts()

vikt_gram
400        254
600        228
5          218
800        205
25000      137
          ...
5 gram       1
-1500        1
0.015kg      1
-300         1
0.5kg        1
Name: count, Length: 72, dtype: int64

In [28]:
import re

def clean_weight_series(s: pd.Series) -> pd.Series:
    """
    Tar en Series med viktsträngar och returnerar en float Series med gram.
    - Konverterar 'kg' till gram (multiplicerar med 1000).
    - Tar bort 'g'/'gram' och parsar tal.
    - Negativa värden blir NaN.
    - Icke-parsbara värden blir NaN.
    """
    s = s.astype("string").str.strip().str.lower().fillna("")
    
    extracted = s.str.extract(r'(?P<val>[-+]?\d+[.,]?\d*)\s*(?P<unit>kg|kilo|kilogram|g|gram)?', expand=True)
    vals = extracted["val"].str.replace(",", ".").astype(float, errors="ignore")
    vals = pd.to_numeric(vals, errors="coerce")
    units = extracted["unit"].fillna("")

    grams = vals.copy()
    is_kg = units.str.contains(r'kg|kilo|kilogram', na=False)
    grams[is_kg] = grams[is_kg] * 1000.0
    grams = grams.where(grams >= 0, np.nan)

    return grams

df["vikt_gram_clean"] = clean_weight_series(df["vikt_gram"])

print(df[["vikt_gram", "vikt_gram_clean"]].value_counts(dropna=False).head(30))
print()
print(f"Datatyp: {df['vikt_gram_clean'].dtype}")
print(f"Antal (NaN): {df['vikt_gram_clean'].isna().sum()}")

vikt_gram   vikt_gram_clean
400         400.0              254
600         600.0              228
5           5.0                218
800         800.0              205
25000       25000.0            137
500         500.0              122
1500        1500.0             119
8           8.0                117
15          15.0               113
10          10.0               111
12500       12500.0            107
2000        2000.0              98
250         250.0               90
20          20.0                83
1100        1100.0              64
200         200.0               64
300         300.0               56
150         150.0               53
350         350.0               52
50000       50000.0              7
-600        NaN                  6
-400        NaN                  6
-5          NaN                  5
12500 gram  12500.0              3
15 g        15.0                 3
-1100       NaN                  3
-10         NaN                  3
0.35kg      350.0                3
-350        NaN                  3
-25000      NaN                  3
Name: count, dtype: int64

Datatyp: float64
Antal (NaN): 45

In [29]:
df["leveranszon"].value_counts()

leveranszon
Zon 1               634
Zon 3               493
Zon 2               472
Zon 4               300
Zon 5               222
Z1                   11
Mellansverige        10
Zone 2                9
2                     8
3                     7
zon 3                 7
Z2                    7
Storstadsområden      7
zon 2                 6
Zone 3                6
1                     6
Z3                    5
Södra Sverige         5
Z4                    5
zon 1                 3
Zone 1                3
5                     3
Z5                    3
zon 4                 3
Norrlands inland      2
Zone 4                2
Zone 5                2
zon 5                 1
4                     1
Name: count, dtype: int64

In [30]:
df["leveranszon_clean"] = df["leveranszon"].astype('string').str.strip().str.title()
print(df["leveranszon_clean"].value_counts())

leveranszon_clean
Zon 1               637
Zon 3               500
Zon 2               478
Zon 4               303
Zon 5               223
Z1                   11
Mellansverige        10
Zone 2                9
2                     8
Z2                    7
Storstadsområden      7
3                     7
1                     6
Zone 3                6
Z3                    5
Södra Sverige         5
Z4                    5
Z5                    3
Zone 1                3
5                     3
Norrlands Inland      2
Zone 4                2
Zone 5                2
4                     1
Name: count, dtype: Int64

In [31]:
clean_mapping = {
    "Zone 1": "Zon 1",
    "Zon1": "Zon 1",
    "Zone 5": "Zon 5",
    "Zon5": "Zon 5",
    "Zon2": "Zon 2"
}
df["leveranszon_clean"] = df["leveranszon_clean"].replace(clean_mapping)
df["leveranszon_clean"].value_counts(dropna=False).head(30)

leveranszon_clean
Zon 1               640
Zon 3               500
Zon 2               478
Zon 4               303
Zon 5               225
<NA>                156
Z1                   11
Mellansverige        10
Zone 2                9
2                     8
Storstadsområden      7
Z2                    7
3                     7
1                     6
Zone 3                6
Z3                    5
Södra Sverige         5
Z4                    5
Z5                    3
5                     3
Norrlands Inland      2
Zone 4                2
4                     1
Name: count, dtype: Int64

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2399 entries, 0 to 2398
Data columns (total 27 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   order_id                      2399 non-null   object
 1   orderrad_id                   2399 non-null   object
 2   orderdatum                    2399 non-null   object
 3   önskat_leveransdatum          2223 non-null   object
 4   faktiskt_leveransdatum        2399 non-null   object
 5   produkt_id                    2399 non-null   object
 6   produktnamn                   2399 non-null   object
 7   kategori                      2399 non-null   object
 8   säsong                        2308 non-null   object
 9   antal                         2399 non-null   object
 10  pris                          2399 non-null   object
 11  vikt_gram                     2399 non-null   object
 12  leveranszon                   2243 non-null   object
 13  kund_id                       2399 non-null   object
 14  recension_text                1038 non-null   object
 15  recensionsdatum               1038 non-null   object
 16  betyg                         1038 non-null   float64
 17  orderdatum_clean              2385 non-null   datetime64[ns]
 18  wanted_leveransdatum_clean    2210 non-null   datetime64[ns]
 19  faktiskt_leveransdatum_clean  2387 non-null   datetime64[ns]
 20  recensionsdatum_clean         1038 non-null   datetime64[ns]
 21  produktnamn_clean             2399 non-null   string
 22  season_clean                  2308 non-null   string
 23  antal_clean                   2371 non-null   Int64
 24  pris_clean                    2399 non-null   Float64
 25  vikt_gram_clean               2354 non-null   float64
 26  leveranszon_clean             2243 non-null   string
dtypes: Float64(1), Int64(1), datetime64[ns](4), float64(2), object(16), string(3)
memory usage: 510.9+ KB

In [33]:
print(df[["orderdatum_clean", "wanted_leveransdatum_clean", "faktiskt_leveransdatum_clean",
   "recensionsdatum_clean", "produktnamn_clean", "season_clean",
   "antal_clean", "pris_clean", "vikt_gram_clean", "leveranszon_clean"]].head(15))

   orderdatum_clean wanted_leveransdatum_clean faktiskt_leveransdatum_clean  \
0        2024-01-01                 2024-01-05                   2024-01-05
1        2024-01-07                 2024-01-12                   2024-01-12
2        2024-01-07                 2024-01-12                   2024-01-12
3               NaT                 2024-01-12                   2024-01-12
4        2024-01-04                 2024-01-13                   2024-01-03
5        2024-01-04                 2024-01-13                   2024-01-13
6        2024-01-22                        NaT                   2024-01-24
7        2024-01-22                 2024-01-24                   2024-01-24
8        2024-01-22                        NaT                   2024-01-24
9        2024-01-22                 2024-01-24                   2024-01-24
10       2024-01-21                 2024-01-24                          NaT
11       2024-01-17                 2024-01-20                   2024-01-20
12       2024-01-17                 2024-01-20                   2024-01-20
13       2024-01-17                 2024-01-20                   2024-01-20
14       2024-01-22                 2024-01-27                   2024-01-27

   recensionsdatum_clean   produktnamn_clean season_clean  antal_clean  \
0             2024-01-10           gullranka         alla            2
1             2024-01-19           tomatfrön          vår            3
2             2024-02-11  monstera deliciosa         alla            3
3                    NaT           näring 1l         alla            2
4             2024-01-25         örtfrön mix          vår            2
5             2024-01-30           gullranka         alla            1
6                    NaT     flytande näring         <NA>            2
7                    NaT         vattenkanna         alla            1
8             2024-01-28        blomjord 50l          vår            1
9             2024-02-14     vattenkanna 10l         alla            2
10            2024-02-14           tomatfrön          vår            2
11                   NaT     flytande näring         alla            3
12                   NaT     planteringsjord          vår            2
13                   NaT     planteringsjord          vår            1
14                   NaT     salladsfrön mix          vår            1

    pris_clean  vikt_gram_clean leveranszon_clean
0        129.0            500.0             Zon 3
1         49.0              5.0             Zon 3
2        299.0           2000.0             Zon 3
3         99.0           1100.0             Zon 3
4         59.0             15.0             Zon 5
5        129.0            500.0             Zon 5
6         99.0           1100.0             Zon 1
7        179.0            600.0             Zon 1
8        149.0          25000.0                Z1
9        179.0            600.0             Zon 1
10        49.0              5.0             Zon 2
11        99.0           1100.0             Zon 2
12        89.0          12500.0             Zon 2
13       149.0          25000.0             Zon 2
14        39.0              8.0             Zon 3

In [34]:
from transformers import pipeline
import pandas as pd
import torch

classifier = pipeline(
    "sentiment-analysis",
    model="nlptown/bert-base-multilingual-uncased-sentiment",
    device=1
)

test_result = classifier("Det här var toppen!")
print("Testresultat:", test_result)

/Users/moawester/grongarden_moaprojekt/.venv/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
Loading weights: 100%|██████████| 201/201 [00:01<00:00, 170.60it/s, Materializing param=classifier.weight]

Testresultat: [{'label': '5 stars', 'score': 0.6879308223724365}]

In [35]:
texts = df['recension_text'].fillna("").astype(str).tolist()

results = classifier(texts)

print("Analyserar recensioner...")
sentiments = []
for text in df['recension_text']:
    if pd.isna(text):
        sentiments.append({"sentiment": "neutral", "score": 0.0})
    else:
        result = classifier(str(text)[:512])[0]
        label = result['label']
        
        if label in ['5 stars', '4 stars']:
            sentiment = "positive"
        elif label == '3 stars':
            sentiment = "neutral"
        else:
            sentiment = "negative"
        
        sentiments.append({"sentiment": sentiment, "score": result['score']})


df['sentiment'] = [s['sentiment'] for s in sentiments]
df['sentiment_score'] = [s['score'] for s in sentiments]

print("\n=== RESULTAT ===")
print(df['sentiment'].value_counts())
print("\n=== EXEMPEL ===")
print(df[['produktnamn', 'sentiment', 'sentiment_score']].head(15))

Analyserar recensioner...

=== RESULTAT ===
sentiment
neutral     1585
positive     511
negative     303
Name: count, dtype: int64

=== EXEMPEL ===
             produktnamn sentiment  sentiment_score
0        Gullranka ampel  positive         0.454180
1   Tomatfrön 'Tiny Tim'  negative         0.475422
2     Monstera deliciosa   neutral         0.648327
3              Näring 1L   neutral         0.000000
4              Örter mix  positive         0.867196
5        Gullranka ampel  positive         0.838423
6     Flytande näring 1L   neutral         0.000000
7            Vattenkanna   neutral         0.000000
8           Blomjord 50L  positive         0.713111
9        Vattenkanna 10L  positive         0.458927
10  Tomatfrön 'Tiny Tim'   neutral         0.382057
11    Flytande näring 1L   neutral         0.000000
12   Planteringsjord 25L   neutral         0.000000
13   Planteringsjord 50L   neutral         0.000000
14       Sallatsfrön mix   neutral         0.000000

In [36]:
summarizer = pipeline(
    "text-generation",
    model="gpt2",
    device=-1
)

print("Skapar sammanfattningar...")
recension_clean = []

for text in df['recension_text']:
    if pd.isna(text) or len(str(text).split()) < 10:
        recension_clean.append(text)
    else:
        try:
            prompt = f"Sammanfatta: {str(text)[:512]}"
            summary = summarizer(prompt, max_new_tokens=50, min_length=10, do_sample=False)
            summary_text = summary[0]["generated_text"].replace(prompt, "").strip()
            recension_clean.append(summary_text if summary_text else text)
        except Exception:
            recension_clean.append(text)

df['recension_clean'] = recension_clean

print(df[['recension_clean', 'sentiment', 'sentiment_score']].head(15))

Loading weights: 100%|██████████| 148/148 [00:00<00:00, 158.53it/s, Materializing param=transformer.wte.weight]
GPT2LMHeadModel LOAD REPORT from: gpt2
Key                  | Status     |  |
---------------------+------------+--+-
h.{0...11}.attn.bias | UNEXPECTED |  |

Notes:
- UNEXPECTED	:can be ignored when loading from different task/architecture; not ok if you expect identical arch.

Skapar sammanfattningar...
                                      recension_clean sentiment  \
0                Varken bra eller dåligt, gör jobbet.  positive
1       Paketet såg ut att ha kastats från lastbilen.  negative
2     Helt okej, men hittade billigare i lokal butik.   neutral
3                                                 NaN   neutral
4        Min monstera är fantastisk, så stor och fin!  positive
5            Bästa fröerna jag testat. Hög grobarhet.  positive
6                                                 NaN   neutral
7                                                 NaN   neutral
8   Plantorna var i perfekt skick, rekommenderas v...  positive
9       Kommer definitivt beställa igen nästa säsong.  positive
10                    Priset är högt för vad man får.   neutral
11                                                NaN   neutral
12                                                NaN   neutral
13                                                NaN   neutral
14                                                NaN   neutral

    sentiment_score
0          0.454180
1          0.475422
2          0.648327
3          0.000000
4          0.867196
5          0.838423
6          0.000000
7          0.000000
8          0.713111
9          0.458927
10         0.382057
11         0.000000
12         0.000000
13         0.000000
14         0.000000

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2399 entries, 0 to 2398
Data columns (total 30 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   order_id                      2399 non-null   object
 1   orderrad_id                   2399 non-null   object
 2   orderdatum                    2399 non-null   object
 3   önskat_leveransdatum          2223 non-null   object
 4   faktiskt_leveransdatum        2399 non-null   object
 5   produkt_id                    2399 non-null   object
 6   produktnamn                   2399 non-null   object
 7   kategori                      2399 non-null   object
 8   säsong                        2308 non-null   object
 9   antal                         2399 non-null   object
 10  pris                          2399 non-null   object
 11  vikt_gram                     2399 non-null   object
 12  leveranszon                   2243 non-null   object
 13  kund_id                       2399 non-null   object
 14  recension_text                1038 non-null   object
 15  recensionsdatum               1038 non-null   object
 16  betyg                         1038 non-null   float64
 17  orderdatum_clean              2385 non-null   datetime64[ns]
 18  wanted_leveransdatum_clean    2210 non-null   datetime64[ns]
 19  faktiskt_leveransdatum_clean  2387 non-null   datetime64[ns]
 20  recensionsdatum_clean         1038 non-null   datetime64[ns]
 21  produktnamn_clean             2399 non-null   string
 22  season_clean                  2308 non-null   string
 23  antal_clean                   2371 non-null   Int64
 24  pris_clean                    2399 non-null   Float64
 25  vikt_gram_clean               2354 non-null   float64
 26  leveranszon_clean             2243 non-null   string
 27  sentiment                     2399 non-null   object
 28  sentiment_score               2399 non-null   float64
 29  recension_clean               1038 non-null   object
dtypes: Float64(1), Int64(1), datetime64[ns](4), float64(3), object(18), string(3)
memory usage: 567.1+ KB

In [38]:
print(f"Antal rader totalt: {len(df)}")
print(f"Antal exakta dubbletter: {df.duplicated().sum()}")

Antal rader totalt: 2399
Antal exakta dubbletter: 0

In [39]:
flags = pd.DataFrame(index=df.index)

flags["flag_pris"] = (
    (df["pris_clean"].isna()) |
    (df["pris_clean"] <= 0) |
    (df["pris_clean"] > df["pris_clean"].quantile(0.99))
)

flags["flag_antal"] = (
    (df["antal_clean"].isna()) |
    (df["antal_clean"] <= 0) |
    (df["antal_clean"] > df["antal_clean"].quantile(0.99))
)

flags["flag_vikt"] = (
    (df["vikt_gram_clean"].isna()) |
    (df["vikt_gram_clean"] <= 0) |
    (df["vikt_gram_clean"] > df["vikt_gram_clean"].quantile(0.99))
)

flags["flag_datum"] = (
    df["faktiskt_leveransdatum_clean"] < df["orderdatum_clean"]
)

df["flag_total"] = flags.sum(axis=1)

In [40]:
print("=== FLAGG-SAMMANFATTNING ===")
for col in flags.columns:
    count = flags[col].sum()
    print(f"\n{col}: {count} rader")
    display(
        df.loc[flags[col], [
            "produktnamn", "pris_clean", "antal_clean", "vikt_gram_clean",
            "orderdatum_clean", "faktiskt_leveransdatum_clean"
        ]].head(10)
    )

=== FLAGG-SAMMANFATTNING ===

flag_pris: 51 rader

,produktnamn,pris_clean,antal_clean,vikt_gram_clean,orderdatum_clean,faktiskt_leveransdatum_clean
45,Flytande näring 1L,0.0,3,1100.0,2024-01-28,2024-01-31
81,"Örter mix (basilika, persilja, dill)",0.0,1,15.0,2024-02-09,2024-02-14
130,Plastlåda balkong 60cm,0.0,2,400.0,2024-03-22,2024-03-25
150,Sallatsfrön mix,0.0,3,8.0,2024-03-17,2024-03-19
168,Pelargon röd,0.0,1,400.0,2024-03-05,2024-03-09
219,Tomatplanta 'Tiny Tim',0.0,3,300.0,2024-03-17,2024-03-19
260,Terrakottakruka 25cm,0.0,3,1500.0,2024-03-05,2024-03-07
272,Tomatplanta 'Tiny Tim',0.0,2,300.0,2024-03-16,2024-03-21
274,Pelargon röd,6900.0,1,400.0,2024-03-03,2024-03-08
291,Sallatsfrön mix,3900.0,4,8.0,2024-03-17,2024-03-19

flag_antal: 28 rader

,produktnamn,pris_clean,antal_clean,vikt_gram_clean,orderdatum_clean,faktiskt_leveransdatum_clean
30,Näring 1L,99.0,<NA>,1100.0,2024-01-04,2024-01-06
224,Petunia mix,59.0,<NA>,250.0,2024-03-28,2024-04-04
373,Örter mix,59.0,<NA>,15.0,2024-04-14,2024-04-20
421,"Örter mix (basilika, persilja, dill)",59.0,<NA>,15.0,2024-04-19,2024-04-21
550,Tomatfrön 'Biff',55.0,<NA>,5.0,2024-04-02,2024-04-07
571,Plastlåda balkong 60cm,149.0,<NA>,400.0,2024-04-24,2024-04-26
727,Blomfrön sommar,69.0,<NA>,20.0,2024-04-12,2024-04-16
896,Trädgårdsspade,199.0,<NA>,800.0,2024-05-21,2024-05-26
1096,Tomatfrön 'Biff',55.0,<NA>,5.0,2024-05-05,2024-05-08
1124,Terrakottakruka 15cm,79.0,<NA>,600.0,2024-05-15,2024-05-19

flag_vikt: 52 rader

,produktnamn,pris_clean,antal_clean,vikt_gram_clean,orderdatum_clean,faktiskt_leveransdatum_clean
29,Planteringsjord 50L,149.0,4,NaN,2024-01-04,2024-01-06
197,Tomatfrön 'Tiny Tim',49.0,2,50000.0,2024-03-18,2024-03-21
199,Sallatsfrön mix,39.0,1,50000.0,2024-03-18,2024-03-21
210,Plastlåda balkong 60cm,149.0,4,NaN,2024-03-19,2024-03-22
215,Gurkfrön 'Marketmore',45.0,2,NaN,2024-03-10,2024-03-16
222,Tomatfrön 'Biff',55.0,3,50000.0,2024-03-25,2024-03-29
223,Basilika planta,49.0,1,NaN,2024-03-25,2024-03-29
231,Gurkfrön 'Marketmore',45.0,1,50000.0,2024-03-11,2024-03-20
257,Tomatplanta 'Tiny Tim',79.0,2,NaN,2024-03-18,2024-03-22
278,Sallatsfrön mix,39.0,1,NaN,2024-03-13,2024-03-15

flag_datum: 71 rader

,produktnamn,pris_clean,antal_clean,vikt_gram_clean,orderdatum_clean,faktiskt_leveransdatum_clean
4,Örter mix,59.0,2,15.0,2024-01-04,2024-01-03
40,Planteringsjord 25L,89.0,3,12500.0,2024-01-07,2024-01-03
133,Sommarblommor mix,69.0,4,20.0,2024-03-14,2024-03-13
138,trädgårdsspade,199.0,3,800.0,2024-03-18,2024-03-13
141,Bifftomat planta,89.0,2,350.0,2024-03-02,2024-03-01
158,Petunia mix,59.0,1,250.0,2024-03-22,2024-03-17
167,Plastlåda balkong 60cm,149.0,3,400.0,2024-03-12,2024-03-10
216,Terrakottakruka 25cm,129.0,1,1500.0,2024-03-10,2024-03-08
233,Plastlåda balkong 60cm,149.0,1,400.0,2024-03-11,2024-03-10
245,Pelargon röd,69.0,1,400.0,2024-03-16,2024-03-12

# Dokumentation: kolumner och transformationer efter datarengöring

## Nya eller rensade kolumner

| Kolumn | Datatyp | Transformation | Kommentar |
|---|---|---|---|
| orderdatum_clean | datetime64[ns] | Tolkad som datum (blandade format, dayfirst=True). | Ogiltiga värden blir NaT. |
| wanted_leveransdatum_clean | datetime64[ns] | Tolkad som datum (blandade format, dayfirst=True). | Ogiltiga värden blir NaT. |
| faktiskt_leveransdatum_clean | datetime64[ns] | Tolkad som datum (blandade format, dayfirst=True). | Ogiltiga värden blir NaT. |
| recensionsdatum_clean | datetime64[ns] | Tolkad som datum. | Ogiltiga värden blir NaT. |
| produktnamn_clean | string | Trim + lowercase och normalisering via mapping. | Varianter samlas till gemensamt namn. |
| season_clean | string | Trim + lowercase och normalisering. | “tidig vår”, “early spring”, “q2” → “vår”. |
| antal_clean | float | Rensad från text (t.ex. “st”, citattecken), trim, konverterad till numeriskt. | Ogiltiga värden blir NaN. |
| pris_clean | float | Rensad från valutasymboler/format (SEK, kr, , , “:-”), trim, konverterad till numeriskt. | Ogiltiga värden blir NaN. |
| vikt_gram_clean | float | Tolkad till gram; kg → gram. | Negativa/ogiltiga värden blir NaN. |
| leveranszon_clean | string | Trim + title case och normalisering. | “Zone 1”, “Zon1” → “Zon 1”. |
| sentiment | string | Klassning via transformer‑modell. | “positive”, “neutral”, “negative”. |
| sentiment_score | float | Modellens sannolikhetspoäng. | Skala enligt modellen. |
| recension_clean | string | Sammanfattning om texten är tillräckligt lång. | Annars originaltext. |
| flag_total | int | Summa av kvalitetsflaggor. | Se tabell nedan. |

## Kvalitetsflaggor (sammanfattning)

| Flagg | Regel |
|---|---|
| flag_pris | Saknat/≤0 eller topp 1% i pris_clean. |
| flag_antal | Saknat/≤0 eller topp 1% i antal_clean. |
| flag_vikt | Saknat/≤0 eller topp 1% i vikt_gram_clean. |
| flag_datum | faktiskt_leveransdatum_clean tidigare än orderdatum_clean. |
| flag_total | Summa av flaggor per rad. |

## Sammanfattning
- Datum standardiserades och sattes till `datetime`.
- Textfält normaliserades (trim, lowercase och mapping).
- Numeriska fält rensades från text och konverterades till tal.
- Sentiment klassificerades med score för styrka.
- Kvalitetsflaggor skapades för orimliga/extrema värden.

## Extra justeringar
- **Produktnamn:** Målet var att minska antalet unika produktnamn. Jag tog bort onödiga tillägg och samlade varianter under ett gemensamt namn. Exempel: alla tomatfrön samlades under ett namn, och sort ses som ett valbart tillägg. Samma princip användes för t.ex. terrakottakruka där storlek inte längre separerar namnet.
- **Negativ vikt:** Negativa värden i `vikt_gram` sattes till NaN eftersom negativ vikt är orimlig och annars skulle snedvrida beräkningar (t.ex. medel och totaler).

## Val av modell (BERT vs LLM)
Jag valde BERT eftersom jag förstod uppgiften som att den ska vara kort, svensk textklassificering där en kompakt modell fungerar bra och är snabbare att köra lokalt. Det har gett mig stabila och reproducerbara resultat utan behov av API‑anrop, och att det kändes mer passande när det är många rader.

## Grain
En rad per orderrad (unik `orderrad_id`), vilket bevarar relationen mellan order, produkt och kund på radnivå.

In [43]:
import pandas as pd
import numpy as np
from pathlib import Path

OUTPUT_DIR = Path("data/processed")
OUTPUT_DIR.mkdir(parents=True, exist_ok=True)

PRODUCT_MAPPING = {
    "terrakottakruka 25cm": "terrakottakruka",
    "terrakottakruka 15cm": "terrakottakruka",
    "tomatfrön 'biff'": "tomatfrön",
    "tommatfrön biff": "tomatfrön",
    "tomatfrön 'tiny tim'": "tomatfrön",
    "tommat tiny tim": "tomatfrön",
    "tomatplanta 'biff'": "tomatplanta",
    "tomatplanta 'tiny tim'": "tomatplanta",
    "örter mix (basilika, persilja, dill)": "örtfrön mix",
    "planteringsjord 25l": "planteringsjord",
    "planteringsjord 50l": "planteringsjord",
    "trädgårdspade": "trädgårdsspade",
    "flytande näring 1l": "flytande näring",
    "spade": "trädgårdsspade",
    "plastlåda balkong 60cm": "balkonglåda plast",
    "plastlåda 60cm": "balkonglåda plast",
    "gullranka ampel": "gullranka",
    "tomat tinytim": "tomatfrön",
    "terrakotta 25cm": "terrakottakruka",
    "sallads frön": "salladsfrön mix",
    "sallat mix": "salladsfrön mix",
    "biffftomat": "tomatfrön",
    "planteringsjord 50 liter": "planteringsjord",
    "sallatsfrön mix": "salladsfrön mix",
    "tomat-biff frön": "tomatfrön",
    "tomatffrön tiny tim": "tomatfrön",
    "petunia-mix": "petunia mix",
    "pettunia mix": "petunia mix",
    "röd pelargonner": "pelargon röd",
    "pelargoner röd": "pelargon röd",
    "örter mix": "örtfrön mix",
}

SEASON_MAPPING = {
    "tidig vår": "vår",
    "early spring": "vår",
    "q2": "vår"
}

ZONE_MAPPING = {
    "Zone 1": "Zon 1",
    "Zon1": "Zon 1",
    "Zone 5": "Zon 5",
    "Zon5": "Zon 5",
    "Zon2": "Zon 2",
}

EXPECTED_COLUMNS = [
    "orderdatum", "önskat_leveransdatum", "faktiskt_leveransdatum",
    "recensionsdatum", "produktnamn", "säsong", "antal", "pris",
    "vikt_gram", "leveranszon", "recension_text"
]

CLEAN_OUTPUT_COLUMNS = [
    "order_id", "orderrad_id", "produkt_id", "kund_id",
    "orderdatum_clean", "wanted_leveransdatum_clean",
    "faktiskt_leveransdatum_clean", "produktnamn_clean",
    "season_clean", "kategori", "antal_clean", "pris_clean",
    "vikt_gram_clean", "leveranszon_clean", "betyg",
    "sentiment", "sentiment_score", "recension_clean",
    "recensionsdatum_clean", "is_suspect"
]

def clean_weight_series(s: pd.Series) -> pd.Series:
    """Konverterar vikt till gram från olika format."""
    s = s.astype("string").str.strip().str.lower().fillna("")
    extracted = s.str.extract(
        r"(?P<val>[-+]?\d+[.,]?\d*)\s*(?P<unit>kg|kilo|kilogram|g|gram)?",
        expand=True,
    )
    vals = extracted["val"].str.replace(",", ".")
    vals = pd.to_numeric(vals, errors="coerce")
    units = extracted["unit"].fillna("")
    grams = vals.copy()
    is_kg = units.str.contains(r"kg|kilo|kilogram", na=False)
    grams[is_kg] = grams[is_kg] * 1000.0
    grams = grams.where(grams >= 0, np.nan)
    return grams


def apply_sentiment_analysis(df: pd.DataFrame) -> pd.DataFrame:
    """Applicerar sentiment-analys på recensioner."""
    sentiments = []
    
    if "classifier" not in globals():
        print("⚠ `classifier` saknas. Sätter neutral sentiment för alla rader.")
        sentiments = [{"sentiment": "neutral", "score": 0.0}] * len(df)
    else:
        for text in df["recension_text"]:
            if pd.isna(text):
                sentiments.append({"sentiment": "neutral", "score": 0.0})
            else:
                result = classifier(str(text)[:512])[0]
                label = result["label"]
                if label in ["5 stars", "4 stars"]:
                    sentiment = "positive"
                elif label == "3 stars":
                    sentiment = "neutral"
                else:
                    sentiment = "negative"
                sentiments.append({"sentiment": sentiment, "score": result["score"]})
    
    df["sentiment"] = [s["sentiment"] for s in sentiments]
    df["sentiment_score"] = [s["score"] for s in sentiments]
    return df


def summarize_reviews(df: pd.DataFrame) -> pd.DataFrame:
    """Sammanfattar recensioner med summarizer."""
    if "summarizer" not in globals():
        print("⚠ `summarizer` saknas. Behåller originaltext i recension_clean.")
        df["recension_clean"] = df["recension_text"]
    else:
        recension_clean = []
        for text in df["recension_text"]:
            if pd.isna(text) or len(str(text).split()) < 10:
                recension_clean.append(text)
            else:
                try:
                    prompt = f"Sammanfatta: {str(text)[:512]}"
                    summary = summarizer(prompt, max_new_tokens=50, min_length=10, do_sample=False)
                    summary_text = summary[0]["generated_text"].replace(prompt, "").strip()
                    recension_clean.append(summary_text if summary_text else text)
                except Exception:
                    recension_clean.append(text)
        df["recension_clean"] = recension_clean
    return df

def clean_null_values(df: pd.DataFrame) -> pd.DataFrame:
    """Fyller ut saknade värden med rimliga defaults"""
    text_cols = ["produktnamn", "säsong", "leveranszon"]
    for col in text_cols:
        if col in df.columns:
            df[col] = df[col].fillna("okänd")
    
    if "recension_text" in df.columns:
        df["recension_text"] = df["recension_text"].fillna("")
    
    return df

def create_mapping_file(df: pd.DataFrame, output_dir: Path) -> None:
    """Skapar mapping-fil för alla transformationer."""
    mapping_data = []
    
    mappings = [
        ("produktnamn", "produktnamn_clean"),
        ("säsong", "season_clean"),
        ("leveranszon", "leveranszon_clean")
    ]
    
    for orig_col, clean_col in mappings:
        if orig_col in df.columns and clean_col in df.columns:
            for orig, clean in zip(df[orig_col], df[clean_col]):
                if pd.notna(orig) and pd.notna(clean):
                    if str(orig).strip().lower() != str(clean).strip().lower():
                        mapping_data.append({
                            "column": orig_col,
                            "original": orig,
                            "cleaned": clean
                        })
    
    df_mapping = pd.DataFrame(mapping_data).drop_duplicates()
    df_mapping.to_csv(output_dir / "gronagarden_mapping.csv", index=False)
    print(f"✓ Sparad: gronagarden_mapping.csv ({len(df_mapping)} rader)")
    if len(df_mapping) > 0:
        print(df_mapping.head(10))

In [44]:

def transform_orders(df: pd.DataFrame) -> pd.DataFrame:
    """
    Komplett rengöringspipeline för orderdata.
    Tar in rå data och returnerar helt städad data.
    """
    df_clean = df.copy()
    df_clean = clean_null_values(df_clean)
    
    for col in EXPECTED_COLUMNS:
        if col not in df_clean.columns:
            df_clean[col] = pd.NA
    
    date_columns = {
        "orderdatum": "orderdatum_clean",
        "önskat_leveransdatum": "wanted_leveransdatum_clean",
        "faktiskt_leveransdatum": "faktiskt_leveransdatum_clean",
        "recensionsdatum": "recensionsdatum_clean"
    }
    
    for orig, clean in date_columns.items():
        df_clean[clean] = pd.to_datetime(
            df_clean[orig],
            errors="coerce",
            format="mixed",
            dayfirst=True
        )
    
    df_clean["produktnamn_clean"] = (
        df_clean["produktnamn"]
        .astype("string")
        .str.strip()
        .str.lower()
        .replace(PRODUCT_MAPPING)
    )
    
    df_clean["season_clean"] = (
        df_clean["säsong"]
        .astype("string")
        .str.strip()
        .str.lower()
        .replace(SEASON_MAPPING)
    )
    
    df_clean["antal_clean"] = (
        df_clean["antal"]
        .astype("string")
        .str.replace("st", "", regex=False)
        .str.replace('""', "", regex=False)
        .str.strip()
    )
    df_clean["antal_clean"] = pd.to_numeric(df_clean["antal_clean"], errors="coerce")
    
    df_clean["pris_clean"] = (
        df_clean["pris"]
        .astype("string")
        .str.replace("SEK", "", regex=False)
        .str.replace("kr", "", regex=False)
        .str.replace(",", "", regex=False)
        .str.replace(":-", "", regex=False)
        .str.strip()
    )
    df_clean["pris_clean"] = pd.to_numeric(df_clean["pris_clean"], errors="coerce")
    
    df_clean["vikt_gram_clean"] = clean_weight_series(df_clean["vikt_gram"])
    
    df_clean["leveranszon_clean"] = (
        df_clean["leveranszon"]
        .astype("string")
        .str.strip()
        .str.title()
        .replace(ZONE_MAPPING)
    )
    
    df_clean = apply_sentiment_analysis(df_clean)
    df_clean = summarize_reviews(df_clean)
    
    df_clean["suspect_missing_orderdatum"] = df_clean["orderdatum_clean"].isna()
    df_clean["suspect_missing_pris"] = df_clean["pris_clean"].isna()
    df_clean["suspect_invalid_pris"] = df_clean["pris_clean"] <= 0
    df_clean["suspect_invalid_antal"] = df_clean["antal_clean"] <= 0
    df_clean["suspect_invalid_vikt"] = df_clean["vikt_gram_clean"] <= 0
    
    df_clean["is_suspect"] = (
        df_clean["suspect_missing_orderdatum"] |
        df_clean["suspect_missing_pris"] |
        df_clean["suspect_invalid_pris"] |
        df_clean["suspect_invalid_antal"] |
        df_clean["suspect_invalid_vikt"]
    )
    
    return df_clean


def process_and_save(df_raw: pd.DataFrame, output_dir: Path) -> pd.DataFrame:
    """
    Kör hela rengöringspipen och sparar resultaten.
    Returnerar det rena datasetet.
    """
    print(f"\n{'='*60}")
    print(f"STARTAR DATARENGÖRING: {len(df_raw)} rader")
    print(f"{'='*60}\n")
    
    df = df_raw.drop_duplicates()
    print(f"Efter borttagning av dubletter: {len(df)} rader\n")
    
    df_transformed = transform_orders(df)
    
    print("\n=== SUSPECT-SAMMANFATTNING ===")
    suspect_cols = [
        "suspect_missing_orderdatum",
        "suspect_missing_pris",
        "suspect_invalid_pris",
        "suspect_invalid_antal",
        "suspect_invalid_vikt",
        "is_suspect"
    ]
    print(df_transformed[suspect_cols].sum())
    
    output_cols = [c for c in CLEAN_OUTPUT_COLUMNS if c in df_transformed.columns]
    df_clean = df_transformed[~df_transformed["is_suspect"]][output_cols].copy()
    df_suspect = df_transformed[df_transformed["is_suspect"]].copy()
    
    print(f"\n=== DATASET-STORLEKAR ===")
    print(f"Ursprungligt dataset: {len(df)} rader")
    print(f"Rent dataset: {len(df_clean)} rader ({len(df_clean)/len(df)*100:.1f}%)")
    print(f"Misstänkta rader: {len(df_suspect)} rader ({len(df_suspect)/len(df)*100:.1f}%)\n")
    
    df_clean.to_csv(output_dir / "gronagarden_clean.csv", index=False)
    print(f"✓ Sparad: gronagarden_clean.csv ({len(df_clean)} rader)")
    
    df_suspect.to_csv(output_dir / "gronagarden_suspect.csv", index=False)
    print(f"✓ Sparad: gronagarden_suspect.csv ({len(df_suspect)} rader)\n")
    
    create_mapping_file(df_transformed, output_dir)
    
    print(f"\n{'='*60}")
    print("DATARENGÖRING KLAR!")
    print(f"{'='*60}\n")
    
    return df_clean

df_raw = pd.read_csv("gronagarden_data.csv")
df_clean = process_and_save(df_raw, OUTPUT_DIR)

============================================================
STARTAR DATARENGÖRING: 2399 rader
============================================================

Efter borttagning av dubletter: 2399 rader


=== SUSPECT-SAMMANFATTNING ===
suspect_missing_orderdatum    14
suspect_missing_pris           0
suspect_invalid_pris          35
suspect_invalid_antal          0
suspect_invalid_vikt           0
is_suspect                    49
dtype: Int64

=== DATASET-STORLEKAR ===
Ursprungligt dataset: 2399 rader
Rent dataset: 2277 rader (94.9%)
Misstänkta rader: 49 rader (2.0%)

✓ Sparad: gronagarden_clean.csv (2277 rader)
✓ Sparad: gronagarden_suspect.csv (49 rader)

✓ Sparad: gronagarden_mapping.csv (40 rader)
         column                original            cleaned
0   produktnamn         Gullranka ampel          gullranka
1   produktnamn    Tomatfrön 'Tiny Tim'          tomatfrön
2   produktnamn               Örter mix        örtfrön mix
4   produktnamn      Flytande näring 1L    flytande näring
7   produktnamn     Planteringsjord 25L    planteringsjord
8   produktnamn     Planteringsjord 50L    planteringsjord
9   produktnamn         Sallatsfrön mix    salladsfrön mix
14  produktnamn  Plastlåda balkong 60cm  balkonglåda plast
16  produktnamn    Terrakottakruka 25cm    terrakottakruka
21  produktnamn    Terrakottakruka 15cm    terrakottakruka

============================================================
DATARENGÖRING KLAR!
============================================================

In [46]:
import pandas as pd
from pathlib import Path

def print_missing_values(df: pd.DataFrame, cols: list[str]) -> None:
    """Kontrollerar saknade värden i kritiska kolumner."""
    print("1. Kontrollerar saknade värden i kritiska kolumner...")
    for col in cols:
        if col not in df.columns:
            print(f"   ⚠ {col}: Kolumn saknas")
            continue
        missing = df[col].isna().sum()
        if missing == 0:
            print(f"   ✓ {col}: Inga saknade värden")
        else:
            print(f"   ⚠ {col}: {missing} saknade värden")
    print()


def print_dtype_check(df: pd.DataFrame, checks: dict[str, str]) -> None:
    """Kontrollerar att datatyper är korrekta."""
    print("2. Kontrollerar datatyper...")
    for col, expected in checks.items():
        if col not in df.columns:
            print(f"   ⚠ {col}: Kolumn saknas")
            continue
        
        dtype = df[col].dtype
        ok = False
        
        if expected == "datetime":
            ok = pd.api.types.is_datetime64_any_dtype(dtype)
        elif expected == "numeric":
            ok = pd.api.types.is_numeric_dtype(dtype)
        else:
            ok = str(dtype) == expected
        
        if ok:
            print(f"   ✓ {col}: Korrekt datatyp ({expected})")
        else:
            print(f"   ⚠ {col}: Fel datatyp ({dtype}, förväntat {expected})")
    print()


def print_value_checks(df: pd.DataFrame) -> None:
    """Kontrollerar att värden är rimliga."""
    print("3. Kontrollerar rimliga värden...")
    
    checks = [
        ("pris_clean", lambda x: (x < 0).any(), "Finns negativa värden", "Inga negativa värden"),
        ("antal_clean", lambda x: (x <= 0).any(), "Finns värden <= 0", "Alla värden > 0"),
        ("vikt_gram_clean", lambda x: (x < 0).any(), "Finns negativa värden", "Inga negativa värden")
    ]
    
    for col, check_func, fail_msg, success_msg in checks:
        if col not in df.columns:
            print(f"   ⚠ {col}: Kolumn saknas")
        elif check_func(df[col]):
            print(f"   ⚠ {col}: {fail_msg}")
        else:
            print(f"   ✓ {col}: {success_msg}")
    print()


def print_quality_checks(df: pd.DataFrame, label: str) -> None:
    """Kör alla kvalitetskontroller på ett dataset."""
    print(f"\n{'='*60}")
    print(f"KVALITETSKONTROLLER: {label}")
    print(f"{'='*60}\n")
    
    critical_cols = [
        "order_id", "orderrad_id", "orderdatum_clean",
        "antal_clean", "pris_clean"
    ]
    print_missing_values(df, critical_cols)
    
    dtype_checks = {
        "orderdatum_clean": "datetime",
        "pris_clean": "numeric",
        "antal_clean": "numeric",
        "vikt_gram_clean": "numeric",
        "sentiment_score": "numeric",
    }
    print_dtype_check(df, dtype_checks)
    
    print_value_checks(df)

date_cols = ["orderdatum_clean", "wanted_leveransdatum_clean", 
             "faktiskt_leveransdatum_clean", "recensionsdatum_clean"]

df_clean = pd.read_csv("data/processed/gronagarden_clean.csv", parse_dates=date_cols)
df_val_raw = pd.read_csv("gronagarden_validation.csv")

df_val = process_and_save(df_val_raw, OUTPUT_DIR)

print(f"\ndf_clean: {len(df_clean)} rader, {df_clean.shape[1]} kolumner")
print(f"df_val: {len(df_val)} rader, {df_val.shape[1]} kolumner")

print_quality_checks(df_clean, "Huvuddata (gronagarden_clean.csv)")
print_quality_checks(df_val, "Valideringsdata (gronagarden_validation.csv)")

print(f"\n{'='*60}")
print("VALIDERING SLUTFÖRD!")
print(f"{'='*60}\n")

============================================================
STARTAR DATARENGÖRING: 444 rader
============================================================

Efter borttagning av dubletter: 444 rader


=== SUSPECT-SAMMANFATTNING ===
suspect_missing_orderdatum    0
suspect_missing_pris          0
suspect_invalid_pris          4
suspect_invalid_antal         0
suspect_invalid_vikt          0
is_suspect                    4
dtype: Int64

=== DATASET-STORLEKAR ===
Ursprungligt dataset: 444 rader
Rent dataset: 426 rader (95.9%)
Misstänkta rader: 4 rader (0.9%)

✓ Sparad: gronagarden_clean.csv (426 rader)
✓ Sparad: gronagarden_suspect.csv (4 rader)

✓ Sparad: gronagarden_mapping.csv (45 rader)
         column                              original            cleaned
0   produktnamn                      Tomatfrön 'Biff'          tomatfrön
1   produktnamn  Örter mix (basilika, persilja, dill)        örtfrön mix
2   produktnamn                  Tomatfrön 'Tiny Tim'          tomatfrön
3   produktnamn                  Terrakottakruka 25cm    terrakottakruka
5   produktnamn                Plastlåda balkong 60cm  balkonglåda plast
6   produktnamn                   Planteringsjord 50L    planteringsjord
7   produktnamn                       Sallatsfrön mix    salladsfrön mix
15  produktnamn                    Flytande näring 1L    flytande näring
16  produktnamn                       Gullranka ampel          gullranka
22  produktnamn                       Tommat Tiny Tim          tomatfrön

============================================================
DATARENGÖRING KLAR!
============================================================


df_clean: 426 rader, 20 kolumner
df_val: 426 rader, 20 kolumner

============================================================
KVALITETSKONTROLLER: Huvuddata (gronagarden_clean.csv)
============================================================

1. Kontrollerar saknade värden i kritiska kolumner...
   ✓ order_id: Inga saknade värden
   ✓ orderrad_id: Inga saknade värden
   ✓ orderdatum_clean: Inga saknade värden
   ✓ antal_clean: Inga saknade värden
   ✓ pris_clean: Inga saknade värden

2. Kontrollerar datatyper...
   ✓ orderdatum_clean: Korrekt datatyp (datetime)
   ✓ pris_clean: Korrekt datatyp (numeric)
   ✓ antal_clean: Korrekt datatyp (numeric)
   ✓ vikt_gram_clean: Korrekt datatyp (numeric)
   ✓ sentiment_score: Korrekt datatyp (numeric)

3. Kontrollerar rimliga värden...
   ✓ pris_clean: Inga negativa värden
   ✓ antal_clean: Alla värden > 0
   ✓ vikt_gram_clean: Inga negativa värden


============================================================
KVALITETSKONTROLLER: Valideringsdata (gronagarden_validation.csv)
============================================================

1. Kontrollerar saknade värden i kritiska kolumner...
   ✓ order_id: Inga saknade värden
   ✓ orderrad_id: Inga saknade värden
   ✓ orderdatum_clean: Inga saknade värden
   ✓ antal_clean: Inga saknade värden
   ✓ pris_clean: Inga saknade värden

2. Kontrollerar datatyper...
   ✓ orderdatum_clean: Korrekt datatyp (datetime)
   ✓ pris_clean: Korrekt datatyp (numeric)
   ✓ antal_clean: Korrekt datatyp (numeric)
   ✓ vikt_gram_clean: Korrekt datatyp (numeric)
   ✓ sentiment_score: Korrekt datatyp (numeric)

3. Kontrollerar rimliga värden...
   ✓ pris_clean: Inga negativa värden
   ✓ antal_clean: Alla värden > 0
   ✓ vikt_gram_clean: Inga negativa värden


============================================================
VALIDERING SLUTFÖRD!
============================================================

In [48]:
import sqlite3

def save_to_database(output_dir: Path, db_name: str = "gronagarden_pipeline.db") -> None:
    """Sparar alla CSV-filer till SQLite-databas i projektets root"""
    db_path = Path(db_name)  # Sparar i root istället för output_dir
    
    print(f"\n{'='*60}")
    print("SPARAR TILL SQLite-DATABAS")
    print(f"{'='*60}\n")
    
    conn = sqlite3.connect(db_path)
    
    files_to_save = [
        ("gronagarden_clean.csv", "orders_clean"),
        ("gronagarden_suspect.csv", "orders_suspect"),
        ("gronagarden_mapping.csv", "mapping")
    ]
    
    for csv_file, table_name in files_to_save:
        file_path = output_dir / csv_file
        if file_path.exists():
            df = pd.read_csv(file_path)
            df.to_sql(table_name, conn, if_exists="replace", index=False)
            print(f"✓ Tabell '{table_name}' sparad: {len(df)} rader")
        else:
            print(f"⚠ Fil saknas: {csv_file}")
    
    conn.close()
    print(f"\n✓ Databas sparad i root: {db_path.absolute()}")
    print(f"{'='*60}\n")

df_raw = pd.read_csv("gronagarden_data.csv")
df_clean = process_and_save(df_raw, OUTPUT_DIR)

save_to_database(OUTPUT_DIR)

============================================================
STARTAR DATARENGÖRING: 2399 rader
============================================================

Efter borttagning av dubletter: 2399 rader


=== SUSPECT-SAMMANFATTNING ===
suspect_missing_orderdatum    14
suspect_missing_pris           0
suspect_invalid_pris          35
suspect_invalid_antal          0
suspect_invalid_vikt           0
is_suspect                    49
dtype: Int64

=== DATASET-STORLEKAR ===
Ursprungligt dataset: 2399 rader
Rent dataset: 2277 rader (94.9%)
Misstänkta rader: 49 rader (2.0%)

✓ Sparad: gronagarden_clean.csv (2277 rader)
✓ Sparad: gronagarden_suspect.csv (49 rader)

✓ Sparad: gronagarden_mapping.csv (40 rader)
         column                original            cleaned
0   produktnamn         Gullranka ampel          gullranka
1   produktnamn    Tomatfrön 'Tiny Tim'          tomatfrön
2   produktnamn               Örter mix        örtfrön mix
4   produktnamn      Flytande näring 1L    flytande näring
7   produktnamn     Planteringsjord 25L    planteringsjord
8   produktnamn     Planteringsjord 50L    planteringsjord
9   produktnamn         Sallatsfrön mix    salladsfrön mix
14  produktnamn  Plastlåda balkong 60cm  balkonglåda plast
16  produktnamn    Terrakottakruka 25cm    terrakottakruka
21  produktnamn    Terrakottakruka 15cm    terrakottakruka

============================================================
DATARENGÖRING KLAR!
============================================================


============================================================
SPARAR TILL SQLite-DATABAS
============================================================

✓ Tabell 'orders_clean' sparad: 2277 rader
✓ Tabell 'orders_suspect' sparad: 49 rader
✓ Tabell 'mapping' sparad: 40 rader

✓ Databas sparad i root: /Users/moawester/grongarden_moaprojekt/gronagarden_pipeline.db
============================================================